body {
    background-color: rgb(70, 142, 236);
    font: normal 1em Arial;
    text-align: center;
}   

header {
    color: white;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

.btns {
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    background-color: rgb(5, 99, 222);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btns:hover {
    background-color: rgba(26, 101, 200, 0.553);
}

footer {
    color: white;
    font-style: italic;
}
